*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-content:space-around;


    article{
    
   
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
     }

     Link{
        color: azure;
        padding: 10px; ;
       margin: 5px; ; 
    }
}

